@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

html {
  scroll-behavior: smooth !important;
}

html,
body {
  font-family: 'Montserrat', sans-serif !important;
}

:root {
  --black-low-opacity:   rgba(0,0,0, 0.4);
  --black-mid-opacity:   rgba(0,0,0, 0.6);
  --black-high-opacity:  rgba(0,0,0, 0.8);

  --white-low-opacity:  rgba(255,255,255, 0.4);
  --white-mid-opacity:  rgba(255,255,255, 0.6);
  --white-high-opacity: rgba(255,255,255, 0.8);

  --hover-color: rgba(255, 255, 255, 0.1);
  --accent-color: #CBEAA6;

  --xxs: .25rem;
  --xs: .5rem;
  --s: .75rem;
  --m: 1rem;
  --l: 1.25;
  --xl: 1.75rem;
  --xxl: 2.5rem;
}

.radius-xs  { border-radius: 6px; }
.radius-s   { border-radius: 8px; }
.radius-m   { border-radius: 12px; }
.radius-l   { border-radius: 16px; }
.radius-xl  { border-radius: 20px; }
.radius-xxl { border-radius: 32px; }

a .icon { color: var(--white-mid-opacity); }
a:hover .icon { color: white; }

.colorized {
  color: var(--accent-color) !important;
}


/* Dark mode */
.dark-mode {
  --surface-color: #090A0C;
  --on-surface-color: #E5E5E5;


  background-color: var(--surface-color) !important;
}

.can-hover:hover {
  background-color: var(--hover-color) !important;
}

/* Disable border on firefox */
.maxfocus-highlighted {
  box-shadow: none !important;
}

.is-card,
.has-border {
  border: 1px solid var(--white-low-opacity);
  overflow: hidden;
}

.is-card,
.is-floating {
  background-color: var(--black-low-opacity);
  backdrop-filter: saturate(400%) blur(16px);
  -webkit-backdrop-filter: saturate(400%) blur(16px);
}

.is-card,
.has-shadow {
  box-shadow: black 0px 0px 16px;
}

/* Repositories ------------------------------------------------------------- */

#projects {
  font-size: clamp(2rem, 10vmin, 8rem);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;

  display: flex;
  gap: 0.02ch;
  justify-content: center;
  align-items: center;

  scroll-margin-top: 100px;
}

/* Scrollbar --------------------------------------------- */
::-webkit-scrollbar {
  width: 0.3rem;
  /* Width of the scrollbar */
  margin: 5px;
}

body::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: transparent;
  /* Track color */
}

body::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background: #ccc;
  /* Thumb color */
  border-radius: 4px;
  /* Rounded corners */

}

body::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
  background: #fff;
  /* Thumb color on hover */
}

/* For Firefox */
/* Set the width of the scrollbar */
body {
  scrollbar-width: thin;
  /* 'thin', 'auto', or 'none' */
}
