---
import Default from '../layouts/Default.astro';
import Hero from  '../components/Hero.astro';
import RepoCard from '../components/RepoCard.astro';
---
<Default title="Home">

  <!-- Profile header --------------------------------------------------- -->
  <Hero username ="zDyant"/>

  <!-- Projects --------------------------------------------------------------- -->
    <!-- Title -->
  <div class="container is-max-widescreen">
    <span class="title" id="projects" aria-hidden="true">
      <span>Projects</span>
    </span>
  </div>

  <!-- Content -->
  <div class="container is-fullhd" id="repo-container">
    <RepoCard repoName="zDyant/HyprNova" bannerPath=".github/nova-logo.jpg" />
  </div>
<div class="clip"></div>
</Default>

<script>
import { animate, inView } from "motion";

inView("#projects", (element) => {
  animate(
    element,
    { y: [100, 0], opacity: [0, 1] },
    { duration: 1.2, delay: 0.4, type: "spring", ease: "easeOut" }
  )
}, { margin: "-10px" })
</script>

