---
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
import '@fontsource/cinzel'
---
<section class="hero is-fullheight">

  <div class="hero-body">

    <!-- Profile -->
    <div class="section columns is-vcentered">

      <figure class="image column is-6">
        <Image class="radius-xxl has-border has-shadow" id="avatar" src={logo} alt="Profile picture">
      </figure>

      <div class="column is-7-desktop text-content is-flex is-flex-direction-column is-justify-content-space-evenly">
        <section class="my-5">
          <div class="title is-size-1 colorized" id="account-name"> zDyant </div>
          <div class="subtitle is-size-4" id="bio">"Somewhat curious."</div>
        </section>

        <section class="my-5">
          <div class="subtitle is-size-4-desktop">
            Studying software engineering in Brazil
          </div>
        </section>

        <section class="contact colorized">

          <div class="subtitle is-size-4-desktop p-2"> Contact me </div>

          <div class="subtitle has-text-left">
            <a href="mailto:contact@zdyant.com" class="can-hover mx-1 p-2 radius-xxl">
              <span class="icon">
                <i class="fa-solid fa-envelope"></i>
              </span>
              <span>contact@zdyant.com</span>
            </a>

            <a href="#" class="can-hover mx-1 p-2 radius-xxl">
              <span class="icon">
                <i class="fa-brands fa-discord"></i>
              </span>
              <span>zdyant</span>
            </a>
          </div>

        </section>
      </div>

    </div>
  </div>
</section>

<style>
  .image {
    height: 100%;
    object-fit: cover;
  }
  .colorized * {
    color: var(--accent-color);
  }
  .contact {
    white-space: nowrap;
  }
  #account-name {
    font-family: "cinzel";
    font-weight: bolder;
    word-break: keep-all;
  }

</style>


<script>
import { animate, stagger } from "motion"

animate(
  [
    [
      ".hero figure",
      { opacity: [0, 1], y: [100, 0], rotate: [6, 0] },
      { duration: 1.6, type: "spring", rotate: { ease: "easeOut" }  }
    ],
    [
      ".hero .title, .hero .subtitle",
      { opacity: [0, 1], y: [20, 0] },
      { duration: 1.0, type: "spring", delay: stagger(0.16), at: "<0.4", stiffness: 32 }
    ],
  ]
)

</script>
