---
import { Image } from 'astro:assets';
import '@fontsource/cinzel'
---
<section class="hero is-fullheight">

  <div class="hero-body">

    <!-- Profile -->
    <div class="section columns is-6 ">

      <figure class="image column is-two-thirds">
        <Image inferSize={true} class="radius-xxl has-border has-shadow" id="avatar" src={data?.avatar_url ?? ''} alt={`${data?.name}'s profile`}>
      </figure>

      <div class="column text-content my-4 is-flex is-flex-direction-column is-justify-content-space-between">
        <section>
          <div class="title is-1 colorized" id="account-name">Hey, it's {data?.name ?? 'N/A'}</div>
          <span class="subtitle" id="bio">"{data?.bio ?? 'No bio available'}"</span>
        </section>

        <section>
          <div class="subtitle is-3 py-6">
            Studying software engineering in brazil
          </div>
        </section>
        
        <section class="contact colorized">

          <div class="subtitle is-4"> Contact me </div>

          <div class="subtitle has-text-left">
            <a href="mailto:contact@zdyant.com" class="can-hover p-2 radius-xxl">
              <span class="icon">
                <i class="fa-solid fa-envelope"></i>
              </span>
              <span>contact@zdyant.com</span>
            </a>

            <a href="#" class="can-hover p-2 radius-xxl">
              <span class="icon">
                <i class="fa-brands fa-discord"></i>
              </span>
              <span>zdyant</span>
            </a>
          </div>

        </section>
      </div>
      
    </div>
  </div>
</section>

<style>
  .image {
    height: 100%;
    object-fit: cover;
  }
  .colorized * {
    color: var(--accent-color);
  }
  .contact a {
    white-space: nowrap;
  }

</style>
