---

---
<nav id="navbar" class="is-card is-flex is-justify-content-space-around radius-l px-4 py-2" role="navigation">

  <div>

    <!-- Icons -->
    <a class="can-hover is-inline-block radius-l p-1" href="/">
      <span class="icon is-large">
        <i class="fa-solid fa-house fa-xl"></i>
      </span>
    </a>

    <a class="can-hover is-inline-block radius-l p-1" href="https://github.com/zDyant">
      <span class="icon is-large">
        <i class="fa-brands fa-github fa-xl"></i>
      </span>
    </a>

    <a class="can-hover is-inline-block radius-l p-1" href="https://ko-fi.com/zdyant">
      <span class="icon is-large">
        <i class="fas fa-mug-hot fa-xl"></i>
      </span>
    </a>

  </div>
</nav>

<style>
  #navbar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  #navbar div {
    white-space: nowrap;
  }
  
</style>


<script>
import { animate, stagger, hover } from "motion"

animate(
  "#navbar",
  { x: "-50%", y: [100,0] },
  { duration: 2.6, delay: 0.2, type: "spring", stiffness: 70 }
)

animate(
  "#navbar .icon",
  { opacity: [ 0, 1 ], y: [100, 0] },
  { duration: 1.2, delay: stagger(0.2), type: "spring" },
)

hover("#navbar", (element) => {
  animate(
    element,
    { y: -10 }
  )
  return () => animate(element, { y: 0})
})
</script>
