---
const { title } = Astro.props
import Navbar from '../components/Navbar.astro';
import '@fontsource/montserrat'

import '../styles/default.css';
---
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{title}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/8da0c7582a.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/x-icon" href="../../public/favicon.svg">
</head>

  <body>
    <Navbar />

    <div class="main-frame dark-mode">
        <slot />
    </div>
  </body>

</html>


<style>

.main-frame {
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 212, 255, 0) 100%), url(../assets/bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

</style>
